@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.bannar{
    background-color:#2D25A0;
}

nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
}
.logo{
    display: none;
}

.navbar-title{
    display: flex;
    justify-content: space-around;
}

.navbar-title a:hover{
    color: #E02C6D;
}

.navbar-user{
    background-color:#E02C6D;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar-title a{
    font-size: 20px;
    padding: 0 20px;
    text-decoration: none;
    color: white;
}
.navbar-user p , i{
    font-size: 20px;
    color: white;
    padding: 0px 8px;
}

h1 , a{
    text-transform: capitalize;
}

/* -------------------
    bannar poster
---------------------- */

.bannar-poster{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px ;
    grid-gap: 30px;
    padding: 15px;
}


.bannar-details{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannar-details h1{
    font-size: 70px ;
    color: white;
}
button{
    margin-top: 10px;
    Padding:10px 24px 10px 24px;
    font-size: 18px;
    background-color: #E02C6D;
    color: white;
    border: 2px solid transparent;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: #E02C6D;
    border: 2px solid #E02C6D;
}

.bannar-poster img{
    max-width: 660px;
    max-height: 500px;
}
/*------------------------
     main-Players section
-------------------------- */

.players{
    width: 70%;
    margin: 70px auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px;
    grid-row-gap:27px;

}

.player{
    width: 300px;
    height: 444px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;  
}

.player h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

/* ----------------------
    highlight section
------------------------- */

.watch{
    width: 80%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:70px;
    grid-row-gap:30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.watch-details{
    padding: 95px ;
}
.watch-details h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
}

.watch-details p{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 14px;
}

.watch img{
    width: 567px;
    height: 427px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.85);
}



/* ------------------------
    footer section design
--------------------------- */

.footer{
    width: 80%;
    margin:150px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}

.footer>img{
    width: 483.87px;
    height: 110px;
}

.social-media{
    margin-top:30px ;
    margin-bottom: 20px;
}

.social-media img{
   width: 32px;
   height: 32px;
}

.copyright{
   font-size:18px;
   line-height: 24px;
}







@media only screen and (max-width:500px) {
    .logo{
        display: block;
    }
    .navbar-title{
        display: none;
    }
    .logo:hover nav>.navbar-title{
        display: block;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        margin-top: 135px;
    }
    .navbar-title a{
        padding: 10px 20px;
        color: black;
    }


    .bannar-poster{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 5px ;
    }

    .bannar-poster img{
        max-width: 390px;
        max-height: 290px;
    }

    .bannar-details{
        display: block;
    }

    .players{
        width: 90%;
        margin: 47px auto;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
    }


    .watch{
        width: 80%;
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap:70px;
        grid-row-gap:30px;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }

    .watch img{
        width: 308px;
        height: 230px;
    }

    .watch-details{
        padding: 15px ;
    }

    
.footer{
    width: 80%;
    margin:150px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}

    .footer>img{
        width: 264px;
        height: 63px;
    }




}









